.accounts-table {
    width: 100%;
    padding: 30px;
}

table td,
table th {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.card {
    width: 100%;
    border-radius: .5rem;
}